body{
    background-color: rgba(255, 255, 255, 0.37);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-transform: inherit;
    text-align: justify;
    
}

nav a{
    margin-right: 8px;
}

a{
    
    text-decoration: none;
color: rgb(255, 254, 254);
    
}



header{
    background-color: rgba(238, 42, 35, 0.459);
    width: 100%;
    padding: 15px 0;
    height: 50%;
}


a:hover{
    transition: ease;
    background-color: rgb(131, 170, 241);
    transition-duration: 0.7s;
    padding: 0px 4px;
}

a:active{
    transition: ease;
    background-color: rgb(131, 170, 241);
    transition-duration: 0.7s;
    padding: 0px 4px;
    border-radius: 4px;
}



.MAPA-WEG img{
    width: 360px;
    height: 340px;
    border-radius: 16px;
}

.Video-Placas iframe{
    width: 360px;
    height: 340px;
    border-radius: 16px;
}

.MAPA-IntelBras iframe{
    width: 360px;
    height: 340px;
    border-radius: 16px;
}

button, input{
    color: white;
    font-size: 1.25rem;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    margin-top: 8px;
}

#resposta{
    color: rgb(245, 24, 24);
    font-size: 1.25rem;
    text-align: left;
}